<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="background-color: black">
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

    <a class="navbar-brand" href="docs" >Документация</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarText">

            <img style="margin-left: 35%" src="/main/templates/main/images/BS.png" width="2%" height="2%">
            <a class="navbar-brand" href="/">BobkaScript</a>

            <a class="navbar-brand" href="about" style="margin-left: 35%">Про нас</a>
        </div>
    </div>
</nav>
{% endblock %}
<div class="container">
    <div align="center">
        <h1 style="color: white">Популярность BobkaScript:</h1>
        <img src="/main/templates/main/images/grafic.png"  width="80%" height="50%">
        <div align="container">
            <div class="container" style="color: white" align="center">
                Из данных графиков можно, понять, что BobkaScript всё больше обретает популярность <br>
                Не время ждать, скорее начинай изучать данный язык, тем более он очень лёгок в изучении.
            </div>
        </div>
    </div>

<br><br><br>




    <div align="center" style="color: white">
        <h1>Немного о нашей команде:</h1>


        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/main/templates/main/images/hanako.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Ханако Икэдзава</h5>
                        <p class="card-text">Создала Backend часть данного сайта, написала BobkaScript, а так же является самым милым челоевеком в мире!</p>
                        <p class="card-text"><small class="text-body-secondary">Senior Pomidor and BobkaScript
                            developer</small></p>
                    </div>
                </div>
            </div>
        </div>




        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/main/templates/main/images/lili.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Лили Сато</h5>
        <p class="card-text">Придумала дизайн для данного сайта, а ещё придумала максимально удобный синтаксис.</p>
        <p class="card-text"><small class="text-body-secondary">Web designer</small></p>
      </div>
    </div>
  </div>
</div>



        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/main/templates/main/images/vitaminka.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Витамин</h5>
        <p class="card-text">Витамин, является <em>"сухарём и пряником"</em> нашего проекта, а так же самой анонимной личностью в мире!</p>
        <p class="card-text"><small class="text-body-secondary">Idea manager</small></p>
      </div>
    </div>
  </div>
</div>




    </div>




</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</html>