<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Документация</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="background-color: black">
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

    <a class="navbar-brand" href="docs" >Документация</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarText">

            <img style="margin-left: 35%" src="{% static 'main/img/images/BS.png' %}" width="2%" height="2%">
            <a class="navbar-brand" href="/">BobkaScript</a>

            <a class="navbar-brand" href="about" style="margin-left: 35%">Про нас</a>
        </div>
    </div>
</nav>
{% endblock %}
<div class="container" style="color: white">
<div align="center">
    советуем скачать <a href="https://visualstudio.microsoft.com/downloads/" style="color: #FFC107">Visual Studio</a> для работы с BobkaScript, но и другая IDE или редактор кода подойдёт.
</div>



    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" >
                <button style="color: white" class="accordion-button bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Типы данных
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show bg-dark"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body" style="color: white" align="center">
                    <h4>В BobkaScript существует несколько основных типов данных:</h4>
                        <div align="center">
                            целые числа - "число"<br>
                            числа с запятой - "неровныйпоцан" и "неровныйчел"<br>
                            символы - "свастика"<br>
                            массивы<br>
                            строки - "верёвка"<br>
                            логичиский тип - "данетнаверное"<br>
                        </div><br>
                    <h6>"число" - данный тип может содержать в себе челое число.</h6>
                    <h6>"неровныйпоцан" и "неровныйчел" - тип неровныйпоцан также, как и неровныйчел может содержать в себе числа с запятой, но неровныйпоцан содержит больше цифр после запятой, но в обмен на это весит больше, чем неровныйчел.</h6>
                    <h6>"свастика" - данный тип может содержать в себе 1 символ из таблицы кодировки ASCII, вот так выглядит данная таблица.</h6>
                    <img src="{% static 'main/img/images/ASCII.png' %}">
                    <h6>массивы представляют собой указаталь на определённый участок в памяти, содержащий в себе данные одного типа</h6>
                    <img src="{% static 'main/img/images/paint.png' %}">
                    <h6>Исходя из картинки выше вы можете более понятно понять как выглядит массив и то, что массив индексируется с нуля (индексом называют номер элемента в массиве)</h6>
                    <h6>Массивы элемент которых является ссылкой на другой участок памяти называют двумерным или матрицей.</h6>
                    <h6>"верёвка" - данный тип является массивом "свастик"</h6>
                    <h6>"данетнаверное" - данный тип может содержать в себе правда(логическое да) или пиздишь(логическое нет)</h6>
                </div>
            </div>
        </div>



        <div class="accordion-item bg-dark">
            <h2 class="accordion-header">
                <button style="color: white" class="accordion-button collapsed bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Функции
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body" style="color: white">
                    <h6>Функция - код программы, вынесенный в отдельную подпрограмму.</h6>
                    <h6>Данное действие достаточно распространено, потому что очень удобно делить целую задачу на несколько малых.</h6>
                    <h6>Функции, как и переменные различают по типу возвращаемого значения, то есть, если функция возвращает тип данетнаверное, то она имеет тип данетнаверное.</h6>

                    <img src="{% static 'main/img/images/cod.png' %}">
                    <h6>Так выглядит объявление функции (тип функции, название, в скобках тип переменной, передаваемой в функцию, а потом локальное имя переменной (переменные в подпрограмме создаются локально из-за чего никак не конфликтуют с переменными из основной программы или другой подпрограммы)</h6>
                    <h6>Вызывается функция так: имя функции(переменные, которые вы передаёте в функцию) (не забудьте про бля)</h6>
                    <br>
                    <h6>Говоря о функциях, было бы неправильно не рассказать о рекурсии, рекурсией называют процесс во время которого функция вызывает саму себя.</h6>
                    <h6>Данная механика лежит в основе алгоритма "Разделяй и властвуй", смысл данного алгоритма в том, что каждую задачу, используя различные махинации, приводят к базовому случаю, для которого алгоритм уже сформирован.</h6>
                </div>
            </div>
        </div>



        <div class="accordion-item bg-dark">
            <h2 class="accordion-header ">
                <button style="color: white" class="accordion-button collapsed bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Циклы
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-dark" style="color: white">
                    <h6>Цикл - необычный вариант функции.</h6>
                    <h6>Цикл является рекурсивной функцией, момент из которой определяется в скобках цикла</h6>
                    <h6>Есть несколько типов циклов: "ядваразанеповторяю", "пощёлкаем", "do пощёлкаем"</h6>
                    <h6>"ядваразанеповторяю"("иницилизация итератора", "условие, когда выполняется функция", "действие, происходящее с каждым проходом цикла")</h6>
                    <h6>"пощёлкаем"("условие, когда выполняется функция"), "do пощёлкаем", работает также, но проверят правильно ли условие, после вызова функции</h6>
                </div>
            </div>
        </div>
    </div>



</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</html>